@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   font-family:  "Montserrat", sans-serif;
  --primary-color:  #000000;
  --primary-color-dark: rgba(0, 0, 0, 0.5);
  --text-dark: #000000;
  --text-light: #000000;
  --extra-light: #88A5BC;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.section__header span {
  color: var(--primary-color);
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 10px;
}
.btn {
  padding: 1rem 2rem;
  outline: none;
  border: 3px solid #000000;
  font-size: 2rem;
  color: var(--black);
  background: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-white);
  box-shadow: 2px 2px 10px #88A5BC;
}

.logo {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
}


.logo span {
  color: #000000;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  background-color: var(--extra-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}

.header__container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__container h2 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 4.9rem;
  font-weight: 700;
  color: #080301;
 
  border-radius: 5rem;
}

.header__container h2 img {
  max-width: 25px;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 6rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  line-height: 5.5rem;
}

.header__container h1 span {
  color: var(--primary-color);
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 2rem;
  text-align: center;
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__btns a {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.header__btns a span {
  padding: 5px 11px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.header__btns a:hover span {
  box-shadow: #ffffff;
}

.header__container > img {
  position: absolute;
  max-width: 40px;
  padding: 7px;
  border-radius: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.header__container > img:nth-child(1) {
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(2) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.header__container > img:nth-child(3) {
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(4) {
  top: 20%;
  right: 15%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(5) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.header__container > img:nth-child(6) {
  top: 65%;
  right: 20%;
  transform: translate(-50%, -50%);
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 50px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}








@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}
.wrapper h1{
    font-size: 3em;
    color: #000000;
    margin: 25px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
    
}
.card{
  min-height: 220px;
  width: 320px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 25px #88A5BC;
}
.icon {
width: 80px;
height: 80px;
margin-bottom: 15px;
}

.icon img {
width: 100%;
height: auto;
}
.card i{
    margin: 5px;
    color: #070403;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 800;
    color: #000000;
    text-align: left;
}
.card p{
    color: #000000;
    text-align: left;
}

.card:hover h2{
    font-weight: 800;
    color: #000000;
    
}








@media(max-width:991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}


.offer__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem 1rem;
}

.offer__card img {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.offer__details {
  display: flex;
  align-items: flex-start;
}

.offer__details span {
  font-size: 2rem;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-dark);
  padding-right: 1rem;
}

.offer__details div {
  padding-left: 1rem;
  border-left: 2px solid var(--primary-color);
}

.offer__details h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.offer__details p {
  color: var(--text-light);
}

.swiper {
  padding-top: 4rem;
  width: 100%;
  max-width: 600px;
}

.client__card img {
  max-width: 80px;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.client__card p {
  margin-bottom: 1rem;
  line-height: 1.75rem;
  color: var(--text-dark);
  text-align: center;
}

.client__ratings {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.client__ratings span {
  color: rgb(0, 0, 0);
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.client__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__col p {
  max-width: 400px;
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__links a span {
  font-size: 1.25rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .job__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

  .steps__grid {
    margin-top: 6rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .steps__card:nth-child(2n - 1) {
    transform: translateY(-2rem);
  }

  .explore__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .job__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .offer__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  

}
@media (width > 1024px) {
  .steps__card {
    padding: 1.5rem;
  }

  .explore__card {
    padding: 1.5rem;
  }

  .offer__grid {
    gap: 2rem;
  }
}


/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0px;
  background-color: #f9f9f9;
  color: #050505;
}

.privacy-policy {
  max-width: 1200px;
  margin: 20px auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px #88A5BC;
  border-radius: 8px;
}

/* Hader */
.hader h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
  color: #000; /* Title color set to black */
}

.hader p {
  font-size: 16px;
  text-align: center;
  color: #000000;
}

/* Sections */
section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000; /* Section headings color set to black */
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
}

section ul {
  margin: 10px 0;
  padding-left: 5px;
}

section ul li {
  margin-bottom: 20px;
  font-size: 16px;
  color: #000000;
}



























